<!DOCTYPE html>
<html>
<head>
  <title>CNAB READER</title>
  
<div class="div-header">
  <h1>CNAB READER®</h1>
  <p class="p-info">Este é um serviço para leitura dos dados contigos no cnae.</p></div>
</div>


</head>
<body class="page-style">


<div class="div-cnae">
<%= form_with(url: {action: :upload}, multipart: true) do |f| %>
  <%= file_field_tag 'archive' %>
  <span><%= f.submit "Create" , id: 'send-cnab'  %></span>
<% end %>
</div>


<TABLE id="demo-table">
<CAPTION>Dados</CAPTION>

<THEAD>
  <TR>
    <TH>#</TH>
    <TH>Tipo</TH>
    <TH>Data</TH>
    <TH>Valor</TH>
    <TH>CPF</TH>
    <TH>Cartão</TH>
    <TH>Dono da loja</TH>
    <TH>Nome da Loja</TH> 
  </TR>


  <TBODY>
  <% @dados.each do |dado| %>
    <TR>
    <TH><%= dado.id %></TH>
      <TD><%= dado.tipo %></TD>
      <TD><%= dado.data %></TD>
      <TD><%= dado.valor %></TD>
      <TD><%= dado.cpf %></TD>
      <TD><%= dado.cartao %></TD>
      <TD><%= dado.dono %></TD>
      <TD><%= dado.loja %></TD>
    </TR>
  <% end %>
  </TBODY>

  <!-- <TFOOT>
    <TR>
      <TD></TD>
      <TD></TD>
      <TD></TD>
      <TD></TD>
      <TD></TD>
      <TD></TD>
      <TD></TD>
    </TR>
    <TR>
      <TD>Total</TD>
      <TD></TD>
      <TD>72,000</TD>
      <TD></TD>
      <TD></TD>
      <TD></TD>
      <TD></TD>
    </TR>
  </TFOOT> -->

</TABLE>
   
</BODY>
</HTML>
</body>
</html>