<!DOCTYPE html>
<html>
<head>
  <title>CNAB READER</title>
  
<div class="div-header">
<a href="/" class="nounderline"><h1>CNAB READER®</h1></a>
  <p class="p-info">Este é um serviço para leitura dos dados contigos no cnab.</p></div>
</div>

</head>
<body class="page-style">



<TABLE id="demo-table">

<THEAD>
  <TR>
    <TH>Movimentação</TH>
    <TH>Tipo</TH>
    <TH>Data</TH>
    <TH>Valor</TH>
    <TH>CPF</TH>
    <TH>Cartão</TH>
    <TH>Dono da loja</TH>
    <TH>Nome da Loja</TH> 
  </TR>


  <TBODY>
  <% if @infos %>
    <% @infos.each do |info| %>
      <TR>
      <TH><%= info.sinal %></TH>
        <TD><%= info.tipo %></TD>
        <TD><%= info.data %></TD>
        <TD><%= info.valor %></TD>
        <TD><%= info.cpf %></TD>
        <TD><%= info.cartao %></TD>
        <TD><%= info.dono %></TD>
        <TD><%= info.loja %></TD>
      </TR>
    <% end %>
  <% end %>
  </TBODY>

  <TFOOT>
    <TR>
      <TD></TD>
      <TD></TD>
      <TD></TD>
      <TD></TD>
      <TD></TD>
      <TD></TD>
      <TD></TD>
      <TD></TD>
      
    </TR>
    <TR>
    <TH>Total</TH>
      <TD></TD>
      <TD></TD>
      <TD><%= @geral_sum.round(2) %></TD>
      <TD></TD>
      <TD></TD>
      <TD></TD>
      <TD></TD>
      
    </TR>
  </TFOOT> 

</TABLE>
   
</BODY>
</HTML>
</body>
</html>